<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p>Price Point
    <select formControlName="price">
      <option value="1">$</option>
      <option value="2">$$</option>
      <option value="3">$$$</option>
      <option value="4">$$$$</option>
    </select></p>
    <label>Location:</label>
    <input formControlName="location" type="search" placeholder="zip code"><br />
    <button type="submit">Go!</button>
  </form>
  <div *ngIf="results">
    <ul>

      <li><h3><a href="{{results.url}}" target="_blank">{{ results.name }}</a></h3></li>
      <li><img alt="{{results.name}}" style="width:400px; height:auto" src={{results.image_url}} /></li>
      <li>
        
        <img *ngIf='results.rating === 1' src='../../../assets/1 star.png' />
        <img *ngIf='results.rating === 1.5' src='../../../assets/1.5 star.png' />
        <img *ngIf='results.rating === 2' src='../../../assets/2_stars.svg.png' />
        <img *ngIf='results.rating === 2.5' src='../../../assets/2.5_stars.svg.png' />
        <img *ngIf='results.rating === 3' src='../../../assets/3-Star.png' />
        <img *ngIf='results.rating === 3.5' src='../../../assets/3.5-star-rating.png' />
        <img *ngIf='results.rating === 4' src='../../../assets/Star_rating_4_of_5.png' />
        <img *ngIf='results.rating === 4.5' src='../../../assets/4.5_stars.svg.png' />
        <img *ngIf='results.rating === 5' src='../../../assets/5stars.png' />
      </li>
      <li>{{ results.display_phone }}</li>
      <li>{{ results.location.address1 }}</li>
      <li>{{ results.location.city }}, {{ results.location.state }} {{ results.location.zip_code }}</li>
      <ul *ngFor="let transaction of results.transactions">
        <p *ngIf="transaction === 'delivery'">Will Deliver</p>
      

   


